button {
  background-color: #b4b4b4;
    margin-top: 10%;
    padding: 1em 2em 1em 2em;
    border: none;
    border-radius: 1.5em;
    cursor: pointer;
    transition: all 0.3s;
    font-family: "Comfortaa", system-ui;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  button:disabled {
    cursor: not-allowed;
  }
  
  button.active {
    background: #3e6ae1;
    color: #dddddd;
  }
  