.maintext {
  cursor: default;
  margin: 0em 0em 0em 0em;
  line-height: 100%;
  font-size: calc(70px + 8vmin);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-transform: scale(1.0);
  -moz-transform: scale(1.0);
  -o-transform: scale(1.0);
  transform: scale(1.0);
}

@media (min-width: 300px) and (max-width: 1000px){ 
  .maintext {
    cursor: default;
    margin: 0em 0em 0em 0em;
    line-height: 100%;
    font-size: calc(20px + 8vmin);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    transition: all 1s ease;
    -webkit-transform: scale(1.0);
    -moz-transform: scale(1.0);
    -o-transform: scale(1.0);
    transform: scale(1.0);
  }
  }

.maintext:hover {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -o-transform: scale(1.5);
  transform: scale(1.5);
}

.undertext {
  font-size: calc(12px + 2vmin);
}
