.main {
    padding: 2%;
    width: 96%;
    min-height: calc(100vh - 24vh);
}

input {
    margin-top: 1vh;
    height: var(--height);
    font-family: var(--font-fam);
    border: 0;
    color: white;
    font-size: 1.8rem;
    padding-bottom: 5%;
  }

  input[type="search"] {
    outline: 0;
    width: 100%;
    background: var(--color-light);
    padding: 0 1.6rem;
    border-radius: var(--rad);
    appearance: none; 
    transition: all var(--dur) var(--bez);
    transition-property: width, border-radius;
    z-index: 1;
    position: relative;
  }

  input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-results-button, input[type="search"]::-webkit-search-results-decoration { display: none; }

@media all and (min-width: 500px) {
  .items {
    justify-content: center;
    flex-direction: column;
    flex-flow: row wrap;
    display: flex; 
    justify-content: center; 
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .list {
    font-size: 10px;
  }
}

.items {
  padding-left: 3%;
  flex-flow: row wrap;
  display: flex;  
  width: 97%;
}


.items:after {
  content:'';
  width:100%;
  order:0;
}

.list {
  text-align: center;
  font-size: 1.7em;
}