.card {
    border-radius: 4vh;
    text-align: center;
    padding: 2%;
    height: 100%;
    width: 48vw;
    margin-left: 2%;
    background-color: rgb(39, 39, 39);
}

.photo {
    border-radius: 5vh;
    background-color: rgb(136, 136, 136);
    height: 40vh;
}

.name {
    font-size: 5vh;
    line-height: 7vh;
}

.price {
    font-size: 3vh;
    line-height: 4vh;
}

.description {
    font-size: 3vh;
    line-height: 4vh;
}

.infoholder {
    justify-items: center;
    justify-content: center;
    padding: 3%;
}