.card {
    border-radius: calc(12px + 2vmin);
    text-align: center;
    padding: 2%;
    height: 100%;
    width: 20vw;
    margin-right: 5%;
    background-color: rgb(39, 39, 39);
    margin-top: 3%;
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    transition: all 0.7s ease;
}

@media (min-width: 300px) and (max-width: 1000px){ 
    .card {
        border-radius: calc(12px + 2vmin);
        text-align: center;
        padding: 2%;
        height: 100%;
        width: 100%;
        margin-right: 5%;
        background-color: rgb(39, 39, 39);
        margin-top: 10%;
        -webkit-transition: all 0.7s ease;
        -moz-transition: all 0.7s ease;
        transition: all 0.7s ease;
    }
}

.photo {
    background-position: center center;
    border-radius: calc(12px + 2vmin);
    background-color: rgb(255, 255, 255);
    height: 25em;

    background-repeat: no-repeat;
    background-size: contain;
}

.name {
    margin-bottom:  5%;
    margin-top: 5%;
    font-size: 1.7em;
}

.price {
    font-size: 1.2em;
    background-color: rgb(77, 77, 77);
    border-radius: 3em;
    padding: 5%;
    margin-top: 0%;
}

.pricename {
    margin-top: 0%;
    font-size: 1.1em;
    line-height: 0.5em;
}

.description {
    font-size: 1.2em;
    background-color: rgb(77, 77, 77);
    border-radius: 3em;
    padding: 5%;
    margin-top: 0%;
}

.descriptioname {
    font-size: 1.1em;
    line-height: 0.5em;
}

.infoholder {
    justify-items: center;
    justify-content: center;
    padding: 3%;
}