.headerholder {
  display: flex;
  width: 99vw;
}

.Header {
    width: 100vw;
    margin: 1vh 1vh 1vh 1vh;
    border-radius: 5vh;
    height: 4.0vw;
    cursor: pointer;
    background-color: #181818;
    display: flex;
    align-items: center;
    color: white;
    gap: 2%;
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    transition: all 0.7s ease;
  }

  .logoholder {
    margin: 1vh 1vh 1vh 1vh;
    border-radius: 5vh;
    height: 4.0vw;
    cursor: pointer;
    gap: 2%;
    width: 90vw;
    margin-left: 1vh;
    margin-top: 1vh;
    max-width: calc(100vw - 95.9vw);
  }

  .logo {
    background-image: url(/src/components/Header/logo.png); 
    background-repeat: no-repeat; 
    background-size: 100% 100%;
    height: 100%;
    width: 100%;
  }

  .Header:hover {
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    transition: all 0.7s ease;
    background-color: #202020;
    
  }

  .headerbuttons {
    line-height: 8vh;
    display: flex;
  }

  .headerbutton {
    margin-left: 2vw;
    color: white;
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    transition: all 0.7s ease;
    font-size: calc(3px + 2vmin);
  }

  .headerbutton:hover {
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    transition: all 0.7s ease;
    font-size: calc(8px + 2vmin);
  }