@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

body {
  max-width: 100%;
  margin: 0;
  font-family: "Comfortaa", system-ui;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Comfortaa',
    monospace;
}
