.maininfo {
    width: 100%;
    height: 20vh;
    text-align: center;
  }

  .maintab {
    flex-wrap: wrap;
    width: 80%;
    height: auto;
    padding: 10% 10% 3% 10%;
  }

  @media (min-width: 300px) and (max-width: 1000px){ 
  .maintab {
    flex-wrap: wrap;
    width: 80%;
    height: auto;
    padding: 10% 10% 10% 10%;
  }
  }
